.container {
  position: relative;
  width: 725px;
  height: 105px;

  display: flex;
  flex-direction: column;
  /* gap: 5px; */

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-style: normal;
  font-weight: 400;

  font-size: var(--font-size-200);
  line-height: var(--line-height-200);
  letter-spacing: var(--letter-spacing-200);

  /* background: pink; */
  transition: transform 0.4s ease-in-out;
}

.containerHead {
}
.containerFoot {
  display: flex;
  /* justify-content: space-between; */

  align-items: center;
  max-height: 65px;
  /* gap: 5px; */
}

.svgContainer {
  height: 36px;
  max-height: 36px;
}
.svgContainer svg {
  height: 100%;
  object-fit: contain;
}

.copyrightContainer {
  font-size: var(--font-size-100);
  line-height: var(--line-height-100);
  letter-spacing: var(--letter-spacing-100);

  width: 40px;
  height: 30px;

  text-align: center;

  transform: rotate(90deg);
}

.logoContainer {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;
  visibility: visible;

  margin-left: -3px;
  margin-right: 12px;
}
.logo {
  font-size: var(--font-size-500);
  font-family: var(--font-family-display);
}
.trademark {
  font-size: var(--font-size-400);
  position: relative;
  top: -22px;
}

.lineContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 203px;

  top: 10px;
  text-transform: uppercase;
  gap: 2px;
  padding-inline: 4px;
}
.line {
  width: 100%;
  height: 1px;
  background: var(--text-color);
  display: inline-block;
}

.contactContainer {
  width: 200px;
  height: inherit;
  margin-top: -10px;
}

/* Phones in Landscape */
@media (max-width: 767.98px) and (min-aspect-ratio: 1/1) {
  .container {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(0.8);
    margin: 10px;
  }
}

/* Devices in Portrait */
@media (max-aspect-ratio: 1/1) {
  .container {
    /* transform-origin: center; */
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%) rotate(-90deg) scale(0.8);
    margin: 10px;
    margin-bottom: 20px;
  }
}
